body,
button {
  color: #333;
}

html {
  background-color: #333;
}

body {
  font-family: "Times New Roman", serif;
  font-size: 12pt;
  margin: 0 auto 0 auto;
  padding: 1in;
  display: block;
  max-width: 50em;
  min-height: 100vh;
  background-color: white;
  line-height: 2em;
}

p {
  text-indent: 2em;
}

.twocolumn {
  display: flex;
}

.twocolumn > .left {
  margin-right: 1in;
}

.twocolumn > .right {
  text-align: right;
}

@media(max-width: 600px) {
  body {
    padding: 1em;
    max-width: 100vw;
  }

  .twocolumn {
    flex-direction: column;
  }

  .twocolumn > .left {
    margin: auto;
  }

  .twocolumn img {
    display: block;
    margin: auto;
  }
}
